<%- include("header") -%>
  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>
  <div class="box">
    <% let pending = 0 %>
    <% newListItems.forEach((task) => { %>
      <% pending += 1; %>
    <%})%>
    <% if (pending==0) { %>
      <div class="d-flex justify-content-center text-center">
        <h2>¡Yey, no hay más tareas!</h2>
        <img class="" src="./img/nature.svg" width="350" height="350">
      </div>
    <%} else { %>
      <h2>Pendientes: <%= pending %></h2>
      <% newListItems.forEach((task) => { %>
        <form action="/delete" method="post">
          <div class="item">
            <input name="deleteTask" type="checkbox" value="<%=task._id%>" onChange="this.form.submit()" />
            <p>
              <%= task.name %>
            </p>
          </div>
          <input type="hidden" name="listName" value="<%=listTitle%>" />
        </form>
      <% }); %>
    <%}%>
    <form class="item" action="/" method="post">
      <input type="text" name="newTask" placeholder="¿Cuál es tu siguiente tarea?" autocomplete="off" />
      <button type="submit" name="listTitle" value="<%=listTitle%>">+</button>
    </form>
  </div>
<%- include("footer") -%>